In [1]:
import pandas as pd

df = pd.DataFrame(
    data=[
        ["Allen", 175, 22],
        ["Ted", 180, 25]
    ],
    columns=["Name", "Height", "Age"]
)

df_1 = pd.DataFrame(
    data=[
        ["Jake", 177, 28],
        ["Mary", 170, 24]
    ],
    columns=["Name", "Height", "Age"]
)

In [2]:
df

    Name  Height  Age
0  Allen     175   22
1    Ted     180   25

In [3]:
df_1

   Name  Height  Age
0  Jake     177   28
1  Mary     170   24

In [4]:
df_concat = pd.concat([df, df_1])
df_concat

    Name  Height  Age
0  Allen     175   22
1    Ted     180   25
0   Jake     177   28
1   Mary     170   24