### Transform the table to a json type
There is a file Staff.txt:

| ID  |  Name | DeptId| Age | Gender | Salary |
| --- |  ---  |  ---  | --- |  ---   | ------ |
| 001 | Mike  | 002   | 45  |   M    | 60000  |
| 002 | Judy  | 002   | 30  |   F    | 48000  |
| 003 | Allen | 001   | 22  |   M    | 50000  |
| 004 | Tom   | 002   | 47  |   M    | 47000  |
| 005 | Jack  | 003   | 36  |   M    | 52000  |
| 006 | Abby  | 002   | 24  |   F    | 45000  |
| 007 | Trump | 001   | 80  |   M    | 80000  |
| 008 | Marry | 003   | 29  |   F    | 87000  |

Tyr to transform it to json type<br>
Just like this:
```json
{
    '001': {
        'ID': '001',
        'Name': 'Mike',
        'DeptId': '002',
        'Age': '45',
        'Gender': 'M',
        'Salary': '60000'
    },
    '002': {
        'ID': '002',
        'Name': 'Judy',
        'DeptId': '002',
        'Age': '30',
        'Gender': 'F',
        'Salary': '48000'
    },
    '003': {
        'ID': '003',
        'Name': 'Allen',
        'DeptId': '001',
        'Age': '22',
        'Gender': 'M',
        'Salary': '50000'
    },
            .
            .
            .
}
```

In [1]:
# Open the txt file
filename = r'Staff.txt'

with open(filename, 'r', encoding='utf-8') as f:
    table = f.readlines()

# Press "Ctrl + Enter" or "Shift + Enter" to execute this block
# to have a look at the "table string".
table

['| ID  |  Name | DeptId| Age | Gender | Salary |\n',
 '| --- |  ---  |  ---  | --- |  ---   | ------ |\n',
 '| 001 | Mike  | 002   | 45  |   M    | 60000  |\n',
 '| 002 | Judy  | 002   | 30  |   F    | 48000  |\n',
 '| 003 | Allen | 001   | 22  |   M    | 50000  |\n',
 '| 004 | Tom   | 002   | 47  |   M    | 47000  |\n',
 '| 005 | Jack  | 003   | 36  |   M    | 52000  |\n',
 '| 006 | Abby  | 002   | 24  |   F    | 45000  |\n',
 '| 007 | Trump | 001   | 80  |   M    | 80000  |\n',
 '| 008 | Marry | 003   | 29  |   F    | 87000  |']

In [2]:
# We don't need the "\n" and "blank, so replace them"
table = [r.replace('\n', '').replace(' ', '') for r in table]
table

['|ID|Name|DeptId|Age|Gender|Salary|',
 '|---|---|---|---|---|------|',
 '|001|Mike|002|45|M|60000|',
 '|002|Judy|002|30|F|48000|',
 '|003|Allen|001|22|M|50000|',
 '|004|Tom|002|47|M|47000|',
 '|005|Jack|003|36|M|52000|',
 '|006|Abby|002|24|F|45000|',
 '|007|Trump|001|80|M|80000|',
 '|008|Marry|003|29|F|87000|']

In [3]:
# To get column, we need only the 0th object in the list
table[0]

'|ID|Name|DeptId|Age|Gender|Salary|'

In [4]:
# Transform the table[0] string to a column list
# But there are two blanks except for the column names, and we don't need them
column = table[0].split('|')
column

['', 'ID', 'Name', 'DeptId', 'Age', 'Gender', 'Salary', '']

In [5]:
# Extract the column part
# Now we got column list
column = column[1:-1]
column

['ID', 'Name', 'DeptId', 'Age', 'Gender', 'Salary']

In [6]:
# And then transform the datas part in "table"
# Extract datas from the index 2 in table
table[2:]

['|001|Mike|002|45|M|60000|',
 '|002|Judy|002|30|F|48000|',
 '|003|Allen|001|22|M|50000|',
 '|004|Tom|002|47|M|47000|',
 '|005|Jack|003|36|M|52000|',
 '|006|Abby|002|24|F|45000|',
 '|007|Trump|001|80|M|80000|',
 '|008|Marry|003|29|F|87000|']

In [7]:
# Transform the data just like you transform the column
data = [r.split('|')[1:-1] for r in table[2:]]
data

[['001', 'Mike', '002', '45', 'M', '60000'],
 ['002', 'Judy', '002', '30', 'F', '48000'],
 ['003', 'Allen', '001', '22', 'M', '50000'],
 ['004', 'Tom', '002', '47', 'M', '47000'],
 ['005', 'Jack', '003', '36', 'M', '52000'],
 ['006', 'Abby', '002', '24', 'F', '45000'],
 ['007', 'Trump', '001', '80', 'M', '80000'],
 ['008', 'Marry', '003', '29', 'F', '87000']]

In [8]:
# Combine column part and data part, and generate a json
jsdata = {staff[0]: {column[col]: dt for col, dt in enumerate(staff)} for staff in data}
jsdata

{'001': {'ID': '001',
  'Name': 'Mike',
  'DeptId': '002',
  'Age': '45',
  'Gender': 'M',
  'Salary': '60000'},
 '002': {'ID': '002',
  'Name': 'Judy',
  'DeptId': '002',
  'Age': '30',
  'Gender': 'F',
  'Salary': '48000'},
 '003': {'ID': '003',
  'Name': 'Allen',
  'DeptId': '001',
  'Age': '22',
  'Gender': 'M',
  'Salary': '50000'},
 '004': {'ID': '004',
  'Name': 'Tom',
  'DeptId': '002',
  'Age': '47',
  'Gender': 'M',
  'Salary': '47000'},
 '005': {'ID': '005',
  'Name': 'Jack',
  'DeptId': '003',
  'Age': '36',
  'Gender': 'M',
  'Salary': '52000'},
 '006': {'ID': '006',
  'Name': 'Abby',
  'DeptId': '002',
  'Age': '24',
  'Gender': 'F',
  'Salary': '45000'},
 '007': {'ID': '007',
  'Name': 'Trump',
  'DeptId': '001',
  'Age': '80',
  'Gender': 'M',
  'Salary': '80000'},
 '008': {'ID': '008',
  'Name': 'Marry',
  'DeptId': '003',
  'Age': '29',
  'Gender': 'F',
  'Salary': '87000'}}

In [9]:
# Turn it to a json string
import json
jsdata_str = json.dumps(jsdata)
jsdata_str

'{"001": {"ID": "001", "Name": "Mike", "DeptId": "002", "Age": "45", "Gender": "M", "Salary": "60000"}, "002": {"ID": "002", "Name": "Judy", "DeptId": "002", "Age": "30", "Gender": "F", "Salary": "48000"}, "003": {"ID": "003", "Name": "Allen", "DeptId": "001", "Age": "22", "Gender": "M", "Salary": "50000"}, "004": {"ID": "004", "Name": "Tom", "DeptId": "002", "Age": "47", "Gender": "M", "Salary": "47000"}, "005": {"ID": "005", "Name": "Jack", "DeptId": "003", "Age": "36", "Gender": "M", "Salary": "52000"}, "006": {"ID": "006", "Name": "Abby", "DeptId": "002", "Age": "24", "Gender": "F", "Salary": "45000"}, "007": {"ID": "007", "Name": "Trump", "DeptId": "001", "Age": "80", "Gender": "M", "Salary": "80000"}, "008": {"ID": "008", "Name": "Marry", "DeptId": "003", "Age": "29", "Gender": "F", "Salary": "87000"}}'

In [10]:
# Save the json string as a text file
with open(r'./Staff.json', 'w', encoding='utf-8') as f:
    f.write(jsdata_str)