In [1]:
import pandas as pd

In [2]:
filename = "staff_detail.csv"
df = pd.read_csv(filename)
df

    ID Level  UpdateDate
0    1     A  2019-08-09
1    1     S  2020-12-08
2    2     A  2021-05-30
3    3     A  2018-03-26
4    3     S  2020-12-08
5    4     A  2022-05-02
6    5     A  2019-11-05
7    5     S  2022-04-25
8    6     A  2022-03-03
9    7     A  2017-03-29
10   7     S  2018-05-02
11   7     M  2021-09-01
12   8     A  2018-11-26
13   8     S  2020-03-15
14   8     M  2022-05-03

In [3]:
# Get Series
df.UpdateDate

0     2019-08-09
1     2020-12-08
2     2021-05-30
3     2018-03-26
4     2020-12-08
5     2022-05-02
6     2019-11-05
7     2022-04-25
8     2022-03-03
9     2017-03-29
10    2018-05-02
11    2021-09-01
12    2018-11-26
13    2020-03-15
14    2022-05-03
Name: UpdateDate, dtype: object

In [4]:
# Convert datetime-format-string to pandas' Datetime
pd.to_datetime(df.UpdateDate)

0    2019-08-09
1    2020-12-08
2    2021-05-30
3    2018-03-26
4    2020-12-08
5    2022-05-02
6    2019-11-05
7    2022-04-25
8    2022-03-03
9    2017-03-29
10   2018-05-02
11   2021-09-01
12   2018-11-26
13   2020-03-15
14   2022-05-03
Name: UpdateDate, dtype: datetime64[ns]

In [5]:
pd.to_datetime(df.UpdateDate)[0].tz_localize("Europe/Berlin")

Timestamp('2019-08-09 00:00:00+0200', tz='Europe/Berlin')

In [6]:
pd.to_datetime(df.UpdateDate)[0].tz_localize("Europe/London")

Timestamp('2019-08-09 00:00:00+0100', tz='Europe/London')

In [7]:
pd.to_datetime(df.UpdateDate)[0].tz_localize("Europe/London").tz_convert("Asia/Tokyo")

Timestamp('2019-08-09 08:00:00+0900', tz='Asia/Tokyo')

In [8]:
pd.to_datetime(df.UpdateDate)[0].tz_localize("Asia/Tokyo")

Timestamp('2019-08-09 00:00:00+0900', tz='Asia/Tokyo')

In [9]:
pd.to_datetime(df.UpdateDate)[0].tz_localize("US/Central")

Timestamp('2019-08-09 00:00:00-0500', tz='US/Central')

In [10]:
pd.to_datetime(df.UpdateDate)[0].tz_localize("US/Central").hour

0

In [11]:
converted_dt = pd.to_datetime(df.UpdateDate)[0].tz_localize("US/Central")

In [12]:
converted_dt

Timestamp('2019-08-09 00:00:00-0500', tz='US/Central')

In [13]:
converted_dt.asm8

numpy.datetime64('2019-08-09T05:00:00.000000000')

In [14]:
pd.to_datetime(converted_dt.asm8).hour

5

In [15]:
pd.to_datetime(converted_dt.asm8).day

9

In [16]:
converted_dt = pd.to_datetime(df.UpdateDate)[0].tz_localize("Asia/Tokyo")

In [17]:
converted_dt

Timestamp('2019-08-09 00:00:00+0900', tz='Asia/Tokyo')

In [18]:
converted_dt.asm8

numpy.datetime64('2019-08-08T15:00:00.000000000')

In [19]:
pd.to_datetime(converted_dt.asm8).hour

15

In [20]:
pd.to_datetime(converted_dt.asm8).day

8

In [21]:
'''
Get timestamp
'''

filename = "../resource/job_state.csv"

df_job_state = pd.read_csv(filename)
df_job_state

,job_id,job_name,job_state,product_name,start_dt,modified_dt
0,job_202205251719_1653470393.2947276,prod04_userinfo_SQLs,done,prod04_prod,2022-05-25 09:19:53,2022-05-25 09:23:54
1,job_202205251720_1653470429.0993779,prod04_userinventory_SQLs,done,prod04_prod,2022-05-25 09:20:29,2022-05-25 09:26:03
2,job_202205251721_1653470472.761873,prod04_userdynamic_SQLs,done,prod04_prod,2022-05-25 09:21:12,2022-05-25 09:25:35
3,job_202205251721_1653470472.9306562,prod04_caconfig_SQLs,done,prod04_prod,2022-05-25 09:21:12,2022-05-25 09:21:15
4,job_202205251721_1653470480.188846,prod04_caguild_SQLs,done,prod04_prod,2022-05-25 09:21:20,2022-05-25 09:23:11
...,...,...,...,...,...,...
3138,job_202206051320_1654406439.9292636,prod09_linsession_charged_SQLs,done,prod09_prod,2022-06-05 05:20:39,2022-06-05 05:22:44
3139,job_202206051320_1654406443.6190057,prod09_linsession_charged_SQLs,done,prod09_prod,2022-06-05 05:20:43,2022-06-05 05:21:53
3140,job_202206051320_1654406450.9479704,prod09_linsession_charged_SQLs,done,prod09_prod,2022-06-05 05:20:50,2022-06-05 05:25:34
3141,job_202206051335_1654407328.517273,prod02_campaign1_SQLs,error,prod02_prod,2022-06-05 05:35:28,2022-06-05 06:01:54
3142,job_202206051418_1654409900.5458035,prod02_campaign2_SQLs,error,prod02_prod,2022-06-05 06:18:20,2022-06-05 06:36:56

In [22]:
df_job_state.start_dt.dtype

dtype('O')

In [23]:
df_job_state.modified_dt.dtype

dtype('O')

In [24]:
pd.to_datetime(df_job_state.start_dt)

0      2022-05-25 09:19:53
1      2022-05-25 09:20:29
2      2022-05-25 09:21:12
3      2022-05-25 09:21:12
4      2022-05-25 09:21:20
               ...
3138   2022-06-05 05:20:39
3139   2022-06-05 05:20:43
3140   2022-06-05 05:20:50
3141   2022-06-05 05:35:28
3142   2022-06-05 06:18:20
Name: start_dt, Length: 3143, dtype: datetime64[ns]

In [25]:
pd.to_datetime(df_job_state.start_dt)[0].timestamp()

1653470393.0

In [26]:
start_dt_series = pd.to_datetime(df_job_state.start_dt).apply(lambda x: x.timestamp())
start_dt_series

0       1.653470e+09
1       1.653470e+09
2       1.653470e+09
3       1.653470e+09
4       1.653470e+09
            ...
3138    1.654406e+09
3139    1.654406e+09
3140    1.654406e+09
3141    1.654407e+09
3142    1.654410e+09
Name: start_dt, Length: 3143, dtype: float64

In [27]:
modified_dt_series = pd.to_datetime(df_job_state.modified_dt).apply(lambda x: x.timestamp())
modified_dt_series

0       1.653471e+09
1       1.653471e+09
2       1.653471e+09
3       1.653470e+09
4       1.653471e+09
            ...
3138    1.654407e+09
3139    1.654407e+09
3140    1.654407e+09
3141    1.654409e+09
3142    1.654411e+09
Name: modified_dt, Length: 3143, dtype: float64

In [28]:
df_job_state["time_took_sec"] = modified_dt_series - start_dt_series
df_job_state

,job_id,job_name,job_state,product_name,start_dt,modified_dt,time_took_sec
0,job_202205251719_1653470393.2947276,prod04_userinfo_SQLs,done,prod04_prod,2022-05-25 09:19:53,2022-05-25 09:23:54,241.0
1,job_202205251720_1653470429.0993779,prod04_userinventory_SQLs,done,prod04_prod,2022-05-25 09:20:29,2022-05-25 09:26:03,334.0
2,job_202205251721_1653470472.761873,prod04_userdynamic_SQLs,done,prod04_prod,2022-05-25 09:21:12,2022-05-25 09:25:35,263.0
3,job_202205251721_1653470472.9306562,prod04_caconfig_SQLs,done,prod04_prod,2022-05-25 09:21:12,2022-05-25 09:21:15,3.0
4,job_202205251721_1653470480.188846,prod04_caguild_SQLs,done,prod04_prod,2022-05-25 09:21:20,2022-05-25 09:23:11,111.0
...,...,...,...,...,...,...,...
3138,job_202206051320_1654406439.9292636,prod09_linsession_charged_SQLs,done,prod09_prod,2022-06-05 05:20:39,2022-06-05 05:22:44,125.0
3139,job_202206051320_1654406443.6190057,prod09_linsession_charged_SQLs,done,prod09_prod,2022-06-05 05:20:43,2022-06-05 05:21:53,70.0
3140,job_202206051320_1654406450.9479704,prod09_linsession_charged_SQLs,done,prod09_prod,2022-06-05 05:20:50,2022-06-05 05:25:34,284.0
3141,job_202206051335_1654407328.517273,prod02_campaign1_SQLs,error,prod02_prod,2022-06-05 05:35:28,2022-06-05 06:01:54,1586.0
3142,job_202206051418_1654409900.5458035,prod02_campaign2_SQLs,error,prod02_prod,2022-06-05 06:18:20,2022-06-05 06:36:56,1116.0

In [29]:
df_job_state.to_csv("job_state_with_second_took.csv", index=0, encoding="utf-8-sig")